.photo-grid{
    /*display: flex;*/
    max-width: 1184px;
    /*min-height: 671px;*/
    padding: 92px 0 0;
    margin: 0 auto;
   
}
@media screen and (max-width: 1200px){
    .photo-grid{
        padding: 92px 48px 0;
        
    }
}
@media screen and (max-width: 900px){
    .photo-grid{
        padding: 92px 24px 0;
        
    }
}
@media screen and (max-width: 600px){
    .photo-grid{
        padding: 92px 16px 0;
        
    }
}

