.places__place{
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto;
  gap: 48px 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}
.places__place:last-child{
  margin-bottom: 0;
}
@media screen and (max-width: 1200px){
  .places__place{
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}
@media screen and (max-width: 900px){
  .places__place{
    grid-template-columns: 340px 1fr;
    margin-bottom: 73px;
    gap: 48px 28px;
  }
}
@media screen and (max-width: 600px){
  .places__place{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}
