.places__place{
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto;
  gap: 40px 48px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}
.places__place:last-child{
  margin-bottom: 0;
}